[submodule "libraries/3rdparty/pkcs11"]
	path = libraries/3rdparty/pkcs11
	url = https://github.com/amazon-freertos/pkcs11.git
	branch = v2.40_errata01
[submodule "libraries/3rdparty/CMock"]
	path = libraries/3rdparty/CMock
	url = https://github.com/ThrowTheSwitch/CMock.git
[submodule "libraries/abstractions/pkcs11/psa"]
	path = libraries/abstractions/pkcs11/psa
	url = https://github.com/Linaro/freertos-pkcs11-psa.git
[submodule "libraries/coreMQTT"]
	path = libraries/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT.git
[submodule "libraries/coreJSON"]
	path = libraries/coreJSON
	url = https://github.com/FreeRTOS/coreJSON.git
[submodule "libraries/abstractions/pkcs11/corePKCS11"]
	path = libraries/abstractions/pkcs11/corePKCS11
	url = https://github.com/FreeRTOS/corePKCS11.git
[submodule "libraries/device_shadow_for_aws"]
	path = libraries/device_shadow_for_aws
	url = https://github.com/aws/device-shadow-for-aws-iot-embedded-sdk.git
[submodule "libraries/coreHTTP"]
	path = libraries/coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP.git
[submodule "libraries/jobs_for_aws"]
	path = libraries/jobs_for_aws
	url = https://github.com/aws/jobs-for-aws-iot-embedded-sdk.git
[submodule "libraries/device_defender_for_aws"]
	path = libraries/device_defender_for_aws
	url = https://github.com/aws/device-defender-for-aws-iot-embedded-sdk.git
[submodule "libraries/abstractions/backoff_algorithm"]
	path = libraries/abstractions/backoff_algorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm.git
[submodule "libraries/coreMQTT-Agent"]
	path = libraries/coreMQTT-Agent
	url = https://github.com/FreeRTOS/coreMQTT-Agent.git
[submodule "libraries/3rdparty/unity"]
	path = libraries/3rdparty/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
	branch = v2.5.2
[submodule "tests/FreeRTOS-Libraries-Integration-Tests"]
	path = tests/FreeRTOS-Libraries-Integration-Tests
	url = https://github.com/FreeRTOS/FreeRTOS-Libraries-Integration-Tests.git
[submodule "libraries/ota_for_aws"]
	path = libraries/ota_for_aws
	url = https://github.com/aws/ota-for-aws-iot-embedded-sdk.git
[submodule "libraries/abstractions/ota_pal_psa"]
	path = libraries/abstractions/ota_pal_psa
	url = https://github.com/Linaro/freertos-ota-pal-psa.git
